{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-8">
            <img class="foto_author" src="https://i.postimg.cc/FK2YMSd0/profile-pic2.jpg" />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">  
            <h2>Nada Yasinta</h2>
            <p>lorem ipsum color sit amet. lorem ipsum color sit amet. lorem ipsum color sit amet. lorem ipsum color sit amet. lorem ipsum color sit amet. lorem ipsum color sit amet. lorem ipsum color sit amet. lorem ipsum color sit amet. </p>
            <p>Telephone <span class="tab">: +6281212348765</span></p>
            <p>Education <span class="tab">: Student</span></p>
            <p>Profession <span class="tab">: Mentee</span></p>
            <p>Nationality <span class="tab">: Indonesian</span></p>
            <p>Company <span class="tab">: Alterra Academy</span></p>
            <p>Email <span class="tab">: nada@alterra.id</span></p>
            <p>Address <span class="tab">: Jalan Raya Tidar No.23</span></p>      
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3951.3141822078887!2d112.60827645086405!3d-7.96644679423405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7882865ded0697%3A0xa77fa961a7c4e4b7!2sSepulsa+Lodge+Malang!5e0!3m2!1sid!2sid!4v1563887184762!5m2!1sid!2sid" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>    
    </div>
</div>

{% endblock %}